.khung {
	width: 85%;
	height: auto;
	margin: 0 auto;

}
.khung .hien{

}
.khung .viet{
	width: 100%;
	height: auto;
	
}
.viet .viet1{
	float: left;
	width: 23.5%;
	height: auto;
	margin-right: 2%;
}
.viet1 .v1{
	width: 100%;
	height: 100px;
}
.viet1 .v1 .vanh{
	margin-top: 15px;
	float: left;
	width: 30%;
	height: 70px;
	border-radius: 100%;
}
.viet1 .v1 .vanh img{
	width: 100%;
	height: 100%;
}
.viet1 .v1 .vtieude{
	float: left;
	width: 70%;
	height: 100px;
}
.viet1 .v1 .vtieude h3{
	text-align: center;
	margin-top: 40px;
}
.viet1 .v2{
	float: left;
	width: 100%;
	height: 200px;

}
.viet1 .v2 .vlink{
	width: 50%;
	height: 30px;
	background: yellow;
	border-radius: 10px 10px 10px 10px;	
}
.viet1 .v2 .vlink a{
	text-align: center;
	text-decoration: none;
	line-height: 30px;
	margin-left: 14px;
}
.viet1 .v2 .vlink a:hover{
	color: red;
}
.viet .viet2{
	float: right;
	width: 23.5%;
	height: auto;
}
.viet2 .v1{
	width: 100%;
	height: 100px;
	
}
.viet2 .v1 .vanh{
	margin-top: 15px;
	float: left;
	width: 30%;
	height: 70px;
	border-radius: 100%;
}
.viet2 .v1 .vanh img{
	width: 100%;
	height: 100%;
}
.viet2 .v1 .vtieude{
	float: left;
	width: 70%;
	height: 100px;

}
.viet2 .v1 .vtieude h3{
	text-align: center;
	margin-top: 40px;
}
.viet2 .v2{
	float: left;
	width: 100%;
	height: 200px;
}
.viet2 .v2 .vlink{
	width: 50%;
	height: 30px;
	background: yellow;
	border-radius: 10px 10px 10px 10px;	
}
.viet2 .v2 .vlink a{
	text-align: center;
	text-decoration: none;
	line-height: 30px;
	margin-left: 14px;
}
.viet2 .v2 .vlink a:hover{
	color: red;
}
.khung .quan{

}
.khung .chi{
	
}